

:root{
    --bg-dark: #3c3f3c;
    --btn-blue: rgb(72, 102, 201);
}


.App{
    min-width: 1440px;
    height: 2900px;
    display: grid;
    grid-template-rows: 70px 1fr 200px;
    
    grid-template-areas: 
        "header"
        "main"
        "footer";

    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    grid-area: header;
}

main {
    grid-area: main;
    
}

footer{
    grid-area: footer;
}



